*{
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

.wrap {
  min-width: 600px;
  background-color: azure;
  display: table;
  width: 100%;
}

.wrap > div {
  display: table-cell;
}

#left {
  width: 100px;
  height: 200px;
  background-color: aqua;
}

#right {
  width: 200px;
  height: 300px;
  background-color: bisque;
}

#middle {
  height: 100px;
  background-color: blueviolet;
}
