*{
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

.wrap {
  min-width: 600px;
  background-color: azure;
  display: flex;
}

#left {
  order: -1;
  flex: 0 0 100px;
  height: 200px;
  background-color: aqua;
}

#right {
  flex: 0 0 200px;
  height: 300px;
  background-color: bisque;
}

#middle {
  flex: 1;
  height: 100px;
  background-color: blueviolet;
}
